In [1]:
    import pandas as pd   
    import numpy as np  
    import matplotlib.pyplot as plt  
    import seaborn as sns

In [2]:
internet_df = pd.read_csv('../data/internet_use.csv')

ParserError: Error tokenizing data. C error: Expected 4 fields in line 4675, saw 6

In [11]:
internet_df = pd.read_csv('../data/internet_use.csv', nrows=4496)

In [10]:
internet_df

     Country or Area  Year     Value  Value Footnotes
0        Afghanistan  2014  6.390000              NaN
1        Afghanistan  2013  5.900000              NaN
2        Afghanistan  2012  5.454545              NaN
3        Afghanistan  2011  5.000000              NaN
4        Afghanistan  2010  4.000000              NaN
...              ...   ...       ...              ...
4490        Zimbabwe  1997  0.033080              NaN
4491        Zimbabwe  1996  0.016790              NaN
4492        Zimbabwe  1995  0.007684              NaN
4493        Zimbabwe  1994  0.001739              NaN
4494        Zimbabwe  1990  0.000000              NaN

[4495 rows x 4 columns]

In [12]:
internet_df.columns

Index(['Country or Area', 'Year', 'Value', 'Value Footnotes'], dtype='object')